@font-face {
  font-family: 'Inter Family';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Inter-VariableFont_slnt,wght.ttf'); /* IE9 Compat Modes */
  src: local(''), /* IE6-IE8 */ url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf'),
    /* Super Modern Browsers */ url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf'),
    /* Modern Browsers */ url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('./fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf'); /* Legacy iOS */
}
